<div class="col-md-12">
  <p class="name">First Name: <%= @user.first_name %> Last Name: <%= @user.last_name %></p>

  <p class="name"><%= @user.email  %></p>
  <%= image_tag @user.avatar.url(:thumb) %>

</div>
