
<div class="row profile-background">
<div class="sidebar z-depth-3 col s2">

<p class="name">First Name: <%= @user.first_name %> Last Name: <%= @user.last_name %></p>

<p class="name"><%= @user.email  %></p>

<p class="name meetups">local meetups in your area</p>
    <ul>
        <li class="name"> one</li>
        <li class="name"> one</li>
        <li class="name"> one</li>
    </ul>
<%= image_tag @user.avatar.url(:thumb) %>
</div>

<div class="connections col s10">
     <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                  <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
                </div>
        </div>
         <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                  <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
                </div>
        </div>
         <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                  <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
                </div>
        </div>


        <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                  <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
                </div>
        </div>
    </div>
</div>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
