
<div class="row profile-background">
<div class="sidebar z-depth-3 col s2">
<%= image_tag @user.avatar.url(:thumb) %>

    <p class="name">First Name: <%= @user.first_name %></p>
    <p class="name">Last Name: <%= @user.last_name %></p>



<p class="industry-list">Pick an Industry <br> Find a mentor</p>
    <ul>
        <li class="industry-list"> one</li>
        <li class="industry-list"> one</li>
        <li class="industry-list"> one</li>
    </ul>

</div>

<div class="connections col s10">
    <div class="row">
        <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
        </div>
        <div class="col s6">
             <h2 class="header">Mentor Name</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img class="activator" src="http://lorempixel.com/100/190/nature/6">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>My Work Exprience</p>
                      <p>What I can help with</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    </div>
</div>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
